Minah <minaanwarhassanpc@gmail.com> Minaee <minaanwarhassanpc@gmail.com>
Minah <minaanwarhassanpc@gmail.com> Mina Hassan <minaanwarhassanpc@gmail.com>
Maaha Sharif <i243008@isb.nu.edu.pk> Your Name <your-i243008-email@example.com>
Maaha Sharif <i243008@isb.nu.edu.pk> Maaha Sharif <mahasharif005@gmail.com>